<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 过滤器 -->
	<filter>
		<filter-name>CharacterFilter</filter-name>
		<filter-class>com.wxschool.common.CharacterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>MngPmsFilter</filter-name>
		<filter-class>com.wxschool.common.MngPmsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MngPmsFilter</filter-name>
		<url-pattern>/mngs/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>MobileFilter</filter-name>
		<filter-class>com.wxschool.common.MobileFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MobileFilter</filter-name>
		<url-pattern>/mobile/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>com.wxschool.common.AccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>/mobile/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>WdOrderFilter</filter-name>
		<filter-class>com.wxschool.common.WdOrderFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WdOrderFilter</filter-name>
		<url-pattern>/wd/order</url-pattern>
	</filter-mapping>


	<!-- 控制器 -->
	<servlet>
		<servlet-name>CoreServlet</servlet-name>
		<servlet-class>com.wxschool.web.CoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CoreApiServlet</servlet-name>
		<servlet-class>com.wxschool.web.CoreApiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>com.wxschool.web.FoodServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardServlet</servlet-name>
		<servlet-class>com.wxschool.web.BoardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VoteServlet</servlet-name>
		<servlet-class>com.wxschool.web.VoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReplyServlet</servlet-name>
		<servlet-class>com.wxschool.web.ReplyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.wxschool.web.StudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MapServlet</servlet-name>
		<servlet-class>com.wxschool.web.MapServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseServlet</servlet-name>
		<servlet-class>com.wxschool.web.CourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.wxschool.web.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BnsServlet</servlet-name>
		<servlet-class>com.wxschool.web.BnsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>com.wxschool.web.AccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>com.wxschool.web.ArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OtherServlet</servlet-name>
		<servlet-class>com.wxschool.web.OtherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BnsMng</servlet-name>
		<servlet-class>com.wxschool.mng.BnsMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountMng</servlet-name>
		<servlet-class>com.wxschool.mng.AccountMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticleMng</servlet-name>
		<servlet-class>com.wxschool.mng.ArticleMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WdOrderServlet</servlet-name>
		<servlet-class>com.wxschool.web.WdOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginMng</servlet-name>
		<servlet-class>com.wxschool.mng.LoginMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodMng</servlet-name>
		<servlet-class>com.wxschool.mng.FoodMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoyGirlMng</servlet-name>
		<servlet-class>com.wxschool.mng.BoyGirlMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BiaobaiMng</servlet-name>
		<servlet-class>com.wxschool.mng.BiaobaiMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TextMng</servlet-name>
		<servlet-class>com.wxschool.mng.TextMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsMng</servlet-name>
		<servlet-class>com.wxschool.mng.NewsMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WdUserServlet</servlet-name>
		<servlet-class>com.wxschool.web.WdUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WxMenuMng</servlet-name>
		<servlet-class>com.wxschool.mng.WxMenuMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubscribeMng</servlet-name>
		<servlet-class>com.wxschool.mng.SubscribeMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogMng</servlet-name>
		<servlet-class>com.wxschool.mng.LogMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminMng</servlet-name>
		<servlet-class>com.wxschool.mng.AdminMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopicMng</servlet-name>
		<servlet-class>com.wxschool.mng.TopicMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopicServlet</servlet-name>
		<servlet-class>com.wxschool.web.TopicServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseMng</servlet-name>
		<servlet-class>com.wxschool.mng.CourseMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicServlet</servlet-name>
		<servlet-class>com.wxschool.web.PicServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicMng</servlet-name>
		<servlet-class>com.wxschool.mng.PicMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EduServlet</servlet-name>
		<servlet-class>com.wxschool.web.EduServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicWallMng</servlet-name>
		<servlet-class>com.wxschool.mng.PicWallMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookBnsServlet</servlet-name>
		<servlet-class>com.wxschool.web.BookBnsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookBnsMng</servlet-name>
		<servlet-class>com.wxschool.mng.BookBnsMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BarrierServlet</servlet-name>
		<servlet-class>com.wxschool.web.BarrierServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardMng</servlet-name>
		<servlet-class>com.wxschool.mng.BoardMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WxUserMng</servlet-name>
		<servlet-class>com.wxschool.mng.WxUserMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatTextServlet</servlet-name>
		<servlet-class>com.wxschool.web.ChatTextServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MassMng</servlet-name>
		<servlet-class>com.wxschool.mng.MassMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorHandler</servlet-name>
		<servlet-class>com.wxschool.common.ErrorHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OperateRecordMng</servlet-name>
		<servlet-class>com.wxschool.mng.OperateRecordMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatMng</servlet-name>
		<servlet-class>com.wxschool.mng.ChatMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BlackMng</servlet-name>
		<servlet-class>com.wxschool.mng.BlackMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MdjmuServlet</servlet-name>
		<servlet-class>com.wxschool.web.api.MdjmuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoveServlet</servlet-name>
		<servlet-class>com.wxschool.web.LoveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShitMng</servlet-name>
		<servlet-class>com.wxschool.mng.ShitMng</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EduServlet_new</servlet-name>
		<servlet-class>com.wxschool.web.EduServlet_new</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>FriendServlet</servlet-name>
		<servlet-class>com.wxschool.web.FriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendServlet</servlet-name>
		<url-pattern>/mobile/friend</url-pattern>
	</servlet-mapping>


	<!-- 手机端控制器 -->
	<servlet-mapping>
		<servlet-name>CoreServlet</servlet-name>
		<url-pattern>/core</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CoreApiServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/mobile/food</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardServlet</servlet-name>
		<url-pattern>/bs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardServlet</servlet-name>
		<url-pattern>/mobile/board</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoteServlet</servlet-name>
		<url-pattern>/mobile/vote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyServlet</servlet-name>
		<url-pattern>/mobile/reply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/mobile/stu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MapServlet</servlet-name>
		<url-pattern>/mobile/map</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseServlet</servlet-name>
		<url-pattern>/mobile/course</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BnsServlet</servlet-name>
		<url-pattern>/mobile/bns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/mobile/account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/mobile/article</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OtherServlet</servlet-name>
		<url-pattern>/mobile/other</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicServlet</servlet-name>
		<url-pattern>/mobile/topic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicServlet</servlet-name>
		<url-pattern>/mobile/pic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EduServlet</servlet-name>
		<url-pattern>/mobile/edu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookBnsServlet</servlet-name>
		<url-pattern>/mobile/bookbns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatTextServlet</servlet-name>
		<url-pattern>/mobile/chat/text</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarrierServlet</servlet-name>
		<url-pattern>/mobile/bar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoveServlet</servlet-name>
		<url-pattern>/mobile/love</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EduServlet_new</servlet-name>
		<url-pattern>/mobile/edun</url-pattern>
	</servlet-mapping>

	<!-- 第三方开发 -->
	<servlet-mapping>
		<servlet-name>MdjmuServlet</servlet-name>
		<url-pattern>/mobile/mdjmu</url-pattern>
	</servlet-mapping>

	<!-- 微店控制器 -->
	<servlet-mapping>
		<servlet-name>WdUserServlet</servlet-name>
		<url-pattern>/wd/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WdOrderServlet</servlet-name>
		<url-pattern>/wd/order</url-pattern>
	</servlet-mapping>


	<!-- 管理平台控制器 -->
	<servlet-mapping>
		<servlet-name>LoginMng</servlet-name>
		<url-pattern>/mngs/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BnsMng</servlet-name>
		<url-pattern>/mngs/bns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleMng</servlet-name>
		<url-pattern>/mngs/article</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountMng</servlet-name>
		<url-pattern>/mngs/account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodMng</servlet-name>
		<url-pattern>/mngs/food</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoyGirlMng</servlet-name>
		<url-pattern>/mngs/bygl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BiaobaiMng</servlet-name>
		<url-pattern>/mngs/bb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TextMng</servlet-name>
		<url-pattern>/mngs/text</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsMng</servlet-name>
		<url-pattern>/mngs/ns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WxMenuMng</servlet-name>
		<url-pattern>/mngs/wxmn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubscribeMng</servlet-name>
		<url-pattern>/mngs/subscribe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogMng</servlet-name>
		<url-pattern>/mngs/log</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminMng</servlet-name>
		<url-pattern>/mngs/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicMng</servlet-name>
		<url-pattern>/mngs/topic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseMng</servlet-name>
		<url-pattern>/mngs/course</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicMng</servlet-name>
		<url-pattern>/mngs/pic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicWallMng</servlet-name>
		<url-pattern>/mngs/picw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookBnsMng</servlet-name>
		<url-pattern>/mngs/bookbns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardMng</servlet-name>
		<url-pattern>/mngs/board</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WxUserMng</servlet-name>
		<url-pattern>/mngs/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MassMng</servlet-name>
		<url-pattern>/mngs/mass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperateRecordMng</servlet-name>
		<url-pattern>/mngs/operate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatMng</servlet-name>
		<url-pattern>/mngs/chat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlackMng</servlet-name>
		<url-pattern>/mngs/black</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShitMng</servlet-name>
		<url-pattern>/mngs/shit</url-pattern>
	</servlet-mapping>

	<!-- 异常捕获 -->
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/errorHandler</url-pattern>
	</servlet-mapping>

	<!-- 测试 -->
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<!-- 异常捕获 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorHandler</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorHandler</location>
	</error-page>

</web-app>
